## Vector operations

In [1]:
# create row vector
A = [10, 20, 30]

3-element Array{Int64,1}:
 10
 20
 30

In [2]:
A[1]

10

In [3]:
# create column vector
A = [10; 20; 30]

3-element Array{Int64,1}:
 10
 20
 30

In [4]:
A[2]

20

## Matrix operations

In [5]:
# define matrix
M = [1 2 3; 4 5 6; 7 8 9]

3×3 Array{Int64,2}:
 1  2  3
 4  5  6
 7  8  9

In [10]:
# update matrix entry
M[1,2] = 3663
M

3×3 Array{Int64,2}:
 1  3663  3
 4     5  6
 7     8  9

In [11]:
# matrix transpose
M'

3×3 Array{Int64,2}:
    1  4  7
 3663  5  8
    3  6  9

In [12]:
# matrix inverse
inv(M)

3×3 Array{Float64,2}:
 -0.000136575  -1.49973       0.999863
  0.000273149  -0.000546299   0.000273149
 -0.000136575   1.16694      -0.666803

## Dictionary / Hashmaps

In [13]:
# define dictionary
D = Dict("year" => 2018, "state" => "MA")

Dict{String,Any} with 2 entries:
  "year"  => 2018
  "state" => "MA"

In [15]:
# number of elements in dictionary
D.count

2

## Strings and formatting

In [27]:
text = "Hello, World!"
println(text)

Hello, World!

In [28]:
text_upper = uppercase(text)
println(text_upper)

HELLO, WORLD!

In [32]:
println(text[8:12])

World

In [36]:
# string interpolation
a = "Welcome"
b = "Julia"
println("$a to $b.")

Welcome to Julia.

In [35]:
# this can extend to evaluate statements:
println("1 + 2 = $(1 + 2)")

1 + 2 = 3

## Loops and conditionals

In [25]:
for i in range(1, 5)
    print(i, ", ")
end

1, 2, 3, 4, 5,

In [21]:
for i in 1:5
    print(i, ", ")
end

1, 2, 3, 4, 5,

In [23]:
# arrays can also be looped over directly
a1 = [1,2,3,4,5]
for i in a1
    print(i, ", ")
end

1, 2, 3, 4, 5,

In [20]:
N = 11
if N > 0
    println("N is positive")
else
    println("N is negative")
end

N is positive